body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

input{
  background: transparent;
  margin-top: 10px;
  width: 100%;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.288);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(74, 74, 109);
  color: whitesmoke;
  border-radius: 0;
  border-bottom: 10px solid rgb(34, 59, 92);
}

.hour {
  background-color: rgb(74, 74, 109);
  color: #ffffff;
  font-weight: bolder;
  width: 100%;
  padding-top: 10px;
  border-right: 1px solid #ffffff;
}

.past {
  background-color: #4b494980;
  border-top: 1px solid white;
  white-space: pre-wrap;
  height: 80px;
  width: 100%;
  justify-items: center;
}

.present {
  background-color: #5a4d6b;
  border-top: 1px solid white;
  white-space: pre-wrap;
  height: 80px;
  justify-items: center;
}

.future {
  background-color: #729b8f;
  border-top: 1px solid white;
  white-space: pre-wrap;
  height: 80px;
  justify-items: center;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #9583b8;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
